.button {
  background: transparent;
  border-radius: 8px;
  width: 100%;
  border: none;
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  &_primary {
    background: #3DD598;
    color: white;
  }
}
