.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-right: 4px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-montserrat);
  }

  &__name {
    font-size: var(--font-size-2xl);
    line-height: 20px;
  }

  &__description {
    font-size: var(--font-size-xss);
    color: var(--color-text-second);
  }
}
