include link-styles.pug

html
  head
    title #{title}
    block styles
      +link-styles('../src/styles/main.scss')
  body
    main
      block content
    footer
      block footer

    block scripts
