.chat {
  display: flex;
  height: 100%;

  &__userlist {
    display: flex;
    flex-direction: column;
    flex-basis: 310px;
    border-right: 1px solid var(--color-40second);

    &-settings {
      display: flex;
      flex-direction: column;

      margin-top: 24px;
      padding-left: 12px;
      padding-right: 12px;
    }

    &-users {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        &:first-child {
          .chat__user {
            margin-top: 12px;
          }
        }


        &:last-child {
          .chat__user {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }

  &__window {
    position: relative;
    display: flex;
    flex-basis: calc(100% - 310px);

    &_empty {
      justify-content: center;
      align-items: center;
    }

    &_active {
      flex-direction: column;
      padding: 8px 20px 24px;
    }
  }

  &__user {
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

    position: relative;

    &::after {
      content: '';
      width: 47px;
      height: 1px;
      background-color: var(--color-40second);
      position: absolute;
      bottom: -12px;
      top: auto;
    }

    &-info {
      display: flex;
      justify-content: space-between;

      padding-bottom: 8px;
      border-bottom: 1px solid var(--color-40second);
    }
  }

  &__settings {
    display: flex;
    align-items: center;

    &-popup {
      position: absolute;
      right: 8px;
      left: auto;
      top: 44px;
      bottom: auto;

      display: flex;
      flex-direction: column;
      background: #30444E;
      box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
      border-radius: 12px;
      padding: 16px;
    }
  }

  &__dialog {
    padding-top: 48px;
    padding-bottom: 32px;
  }

  &__actions {
    margin-top: auto;
    padding-top: 24px;
    border-top: 1px solid var(--color-40second);
  }
}

.userlist-settings {
  border-bottom: 1px solid var(--color-40second);

  &__link {
    margin-left: auto;
  }

  &__search {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.dialog {
  &__date {
    font-weight: 500;
    font-size: 12px;
    color: #96A7AF;
    text-align: center;
  }

  &__messages {
    margin-top: 32px;
  }
}

.settings-popup {
  &__prop {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__icon {
    margin-right: 8px;
  }
}

.message {
  padding: 12px;
  max-width: fit-content;
  min-width: 114px;
  border-radius: 12px;

  &_opposite {
    background: #30444E;
    border-top-left-radius: 0;
  }

  &_ours {
    background: #3DD598;
    border-bottom-right-radius: 0;
    margin-left: auto;
  }

  &__content {
    font-weight: 500;
    font-size: 12px;
    max-width: 380px;
  }

  &__time {
    font-weight: 500;
    font-size: 8px;
    text-align: right;

    color: #96A7AF;

    &_ours {
      color: white;
    }
  }

  &__form {
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__input {
    margin-left: 12px;
    margin-right: 12px;
  }

  &__submit {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-success);
    cursor: pointer;
    outline: none;
  }

  &__attachments-popup {
    position: absolute;
    right: auto;
    left: 8px;
    top: auto;
    bottom: 64px;
    display: flex;
    flex-direction: column;
    background: #30444E;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    padding: 16px;
  }
}
