body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  scroll-behavior: smooth;

  background-color: var(--color-bg);
  color: var(--color-text-primary);

  position: relative;

  margin: 0px;

  box-sizing: border-box;
}

