@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat&display=swap');

:root {
  /* Font families. */
  --font-family-inter: 'Inter', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;

  /* Font sizes. */
  --font-size-xss: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-3_5xl: 2.5rem;
  --font-size-4xl: 3rem;

  /* Line heights. */
  --line-height-sm: 1.25;
  --line-height-md: 1.5;

  /* Letter spacings. */
  --letter-spacing-sm: 0.05em;
  --letter-spacing-md: 0.1em;
}

body {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}
