:root {
  /* colors: */
  --color-bg: rgb(34, 52, 60);
  --color-zero: rgb(48, 68, 78);
  --color-success: rgb(61, 213, 152);
  --color-error: rgb(255, 86, 94);
  --color-warning: rgb(255, 151, 74);
  --color-notify: rgb(0, 98, 255);

  /* color with opacity 0.4: */
  --color-40second: rgba(150, 167, 175, 0.4);
  --color-40black: rgba(0, 0, 0, 0.4);
  --color-text-primary: rgb(255, 255, 255);
  --color-text-second: rgb(151, 163, 174);

  /* z-index layers: */
  --layer-bg: -1;
  --layer-zero: 0;
  --layer-first: 1;
  --layer-second: 2;
  --layer-third: 3;
}
