extends includes/layout.pug

block append styles
  +link-styles('../src/styles/components/link.scss')
  +link-styles('../src/styles/components/search.scss')
  +link-styles('../src/styles/components/form.scss')
  +link-styles('../src/styles/components/button.scss')
  +link-styles('../src/styles/components/input.scss')
  +link-styles('../src/styles/components/user.scss')
  +link-styles('../src/styles/components/popup.scss')
  +link-styles('../src/styles/pages/chat.scss')

block content
  include includes/chat-content.pug
  #root

block append scripts
  script(
    src='../src/pages/add-user/index.ts'
  )
  script(
    src='../src/modules/chat/add-user/index.ts'
  )
