extends includes/layout.pug

block append styles
  +link-styles('../src/styles/components/link.scss')
  +link-styles('../src/styles/components/form.scss')
  +link-styles('../src/styles/components/button.scss')
  +link-styles('../src/styles/components/input.scss')
  +link-styles('../src/styles/components/popup.scss')
  +link-styles('../src/styles/pages/settings.scss')

block content
  include includes/settings-content.pug
  #root

block append scripts
  script(
    src='../src/pages/settings-avatar/index.ts'
  )
  script(
    src='../src/modules/settings/settings-avatar.ts'
  )
